<div ng-include="'components/navbar/navbar.html'"></div>

<div class="account">
  <div class="makeCenter">
    <div class="md-whiteframe-z3">

      <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">
          Login
        </h1>
      </md-toolbar>

      <md-content layout-padding>
        <form class="form" name="form" ng-submit="login(form)" novalidate>

          <md-input-container>
            <label>Roll No:</label>

            <input type="text" name="roll_no" ng-model="user.roll_no" required>
          </md-input-container>

          <md-input-container>
            <label>Password</label>

            <input type="password" name="password" ng-model="user.password" required>
          </md-input-container>

          <div style="color:red">
            <span ng-show="form.roll_no.$error.required && form.password.$error.required && submitted">
              Please enter your roll no. and password.
            </span>
            
            <span>{{ errors.other }}</sapn>
          </div>

          <div>
            <md-button class="md-raised md-primary" type="submit">
              Login
            </md-button>
          </div>

        </form>
      </md-content>

    </div>
  </div>
</div>




